@* @model IEnumerable<LeMinhHoc.Models.Product>

<a asp-action="Add" class="btn btn-primary mb-3 mt-2">
	<i class="bi bi-plus"></i> Thêm sản phẩm mới
</a>
<table class="table">
	<thead>
		<tr>
			<th>Tên</th>
			<th>Giá</th>
			<th>Mô tả</th>
			<th>Ảnh</th>
			<th>Loại</th>
			<th>Chức năng</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Description</td>
				
				<td>
					@if (!string.IsNullOrEmpty(product.ImageUrl))
					{
						<img src="@product.ImageUrl" alt="Product Image" style="max-width: 100px;" />
					}
				</td>
				<td>@product.Category?.Name</td>
			
				<td>
					<a asp-action="Display" asp-route-id="@product.Id"
					   class="btn btn-info btn-sm me-2">
						<i class="bi bi-eye"></i> View
					</a>
					<a asp-action="Update" asp-route-id="@product.Id"
					   class="btn btn-warning btn-sm me-2">
						<i class="bi bi-pencil"></i> Edit
					</a>
					<a asp-action="Delete" asp-route-id="@product.Id"
					   class="btn btn-danger btn-sm">
						<i class="bi bi-trash"></i> Delete
					</a>
				</td>

			</tr>
		}
	</tbody>
</table> *@

@model IEnumerable<LeMinhHoc.Models.Product>
@{
		ViewData["Title"] = "Trang Chủ";
    int numOfQuantity = 1;
}
<section class="py-2">
<div class="container px-4 px-lg-5 mt-5">
	<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">

		@foreach (var item in Model)
		{
			<div class="col mb-5">
				<div class="card gap-3" style="width: 18rem">
					<img src="@item.ImageUrl" class="card-img-top" alt="..."
						 style="height: 300px">
					<div class="card-body">
						<h5 class="card-title">
							@Html.DisplayFor(modelItem =>
							item.Name)
					</h5>
					<div class="d-flex">
						<span>Price: </span>
						<p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
					</div>
						<a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id"
						   asp-route-quantity="@numOfQuantity">
							<button class="btn btn-outline-dark">
								<i class="bi-cart-fill me-1"></i> Add to Cart
							</button>
						</a>
				</div>
			</div>
		</div>
				}
	</div>
</div>
</section>